{% extends "todolist_app/base.html" %}
{% block body_block %}
{% load static %}
    <div class="container">
        <div class="row" style="margin-top:50px">
            <div class="col-md-12">
                <div class="card card-white mt-100">
                    <div class="card-body">
                      <h2 class="text-center">Add Task</h2>
                      {% if success_message %}
                        <div class="alert alert-success" role="alert">
                            {{ success_message }}
                        </div>
                      {% endif %}
                      <form method="post" action="{% url 'todolist_app:create_task' %}">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                          <label class="form-label" for="description">Title:</label>
                          <input class="form-control form-control-lg" id="task_title" name="task_title" required/>
                        </div>
                        <div class="form-outline mb-4">
                          <label class="form-label" for="task_description">Description:</label>
                          <textarea class="form-control form-control-lg" id="task_description" name="task_description" required></textarea>
                        </div>
                        <div class="form-outline mb-4">
                          <label class="form-label" for="task_status">Status:</label>
                          <input type="checkbox" id="task_status" name="task_status">
                        </div>
                        <button class="btn btn-dark"  type="submit">Add Task</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}