{% extends "base.html" %}
{% block body_block %}
    <div class="container">
        <div class="row" style="margin-top:50px">
            <div class="col-md-12">
                <div class="card card-white mt-100">
                    <div class="card-body">
                      <h2 class="text-center">Edit Task</h2>
                      <form method="post" action="{% url 'todolist_app:edit_task' task_id=task.id %}">
                        {% csrf_token %}
                          {{ form.as_p }}
                        <button class="btn btn-danger"  type="submit">Edit Task</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}