{% block footer %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-legal">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>infobeans</span></strong>. All Rights Reserved
            </div>
          </div>
          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                <a href="https://www.facebook.com/infobeans" class="mx-2"><span class="bi-facebook"></span></a>
                <a href="https://www.twitter.com/infobeans" class="mx-2"><span class="bi-twitter"></span></a>
                <a href="https://www.linkedin.com/company/infobeans" class="mx-2"><span class="bi-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}
