{% extends "base.html" %}
{% block body_block %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
  <div class="mx-auto my-5">
    <h2 class="text-light">Welcome!</h2><br/>
    <h5 class="text-light">Make your own to-do list and register on our blogs site for more updates.</h5><br/><br/>
      <a href="{% url 'login' %}">
          <button type="button" class="btn btn-danger btn-lg mr-30 rounded-pill">Generate ToDo's</button>
      </a>&nbsp;
      <a href="{% url 'blog_app:index' %}">
          <button type="button" class="btn btn-danger btn-lg rounded-pill">Explore Blogs</button>
      </a>&nbsp;
      <a href="{% url 'social_app:socialhome' %}">
          <button type="button" class="btn btn-danger btn-lg rounded-pill">Social App</button>
      </a>
  </div>
</div>
{% endblock %}




