{% extends "blog_app/base.html" %}
{% block body_block %}
{% load static %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>about us</h4>
                <h2>Our Aim is WOW!</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="about-us">
      <div class="container">
      	
        <div class="row">
          <div class="col-lg-12">
            <img src="{% static 'blog_app/images/about-us.jpg' %}" alt="">
            <p>InfoBeans, founded in 2000 and now 1700+ strong, is a publicly listed Digital Transformation and Product Engineering outfit. We design, build and sustain enterprise-grade software to fulfill our clients’ most ambitious business aspirations. We continuously strive to deliver value accretive services around design, innovation, and engineering to resolve their most complex business problems using cutting-edge technology.
                We are strengthened by our partnership with Salesforce, ServiceNow, Microsoft, UiPath, Automattic and Creatio. Our technical solutions help corporations digitally transform their businesses and acquire sustainable growth.
                We intently focus on the philosophy that InfoBeans is our team’s second home across our offices in the USA, Europe, Middle East, and Asia, and work hard every day to grow a work culture that fosters collaboration and excellence. Creating WOW! is not just a tagline for us, it’s our religion!</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-12">
          <h4>Our Aim is WOW!</h4>
            <p>It is what pushes us to test our limits everyday.
                Our aim is to consistently deliver an all-round experience that elicits a WOW! in whatever we do. Whether it is creating the best technology solution for our clients or interacting with our community, our aim is to evoke a feeling that something extraordinary has been accomplished. As an emotion, WOW! is hard to define. A WOW! feeling is very individualistic. Its instantaneous. It varies from person to person, situation to situation. And we understand that. We anticipate. We stay one step ahead of our clients’ needs. We try to wear our clients’ hats to think like them.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <img src="{% static 'blog_app/images/about_us.png' %}">
         </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/infobeans"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.twitter.com/infobeans"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/company/infobeans"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'blog_app/vendor/jquery/jquery.min.js' %}' %}"></script>
    <script src="{% static 'blog_app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'blog_app/js/custom.js' %}"></script>
    <script src="{% static 'blog_app/js/owl.js' %}"></script>
    <script src="{% static 'blog_app/js/slick.js' %}"></script>
    <script src="{% static 'blog_app/js/isotope.js' %}"></script>
    <script src="{% static 'blog_app/js/accordions.js' %}"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
{% endblock %}