{% extends "blog_app/base.html" %}
{% block body_block %}
{% load static %}
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>User Profile</h4>
                <h2>Your all details is here</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="container">
        <div class="row" style="margin-top:50px">
            <div class="col-md-12">
                <div class="card card-white mt-100">
                    <div class="card-body">
                          <form enctype="multipart/form-data"id="contact-form" class="contact__form" method="POST">
                            <center>
                                <h3 class="text-md mb-4">
                                    Hi {{ user.name|upper }} !
                                </h3>
                            </center>
                            <center>
                                {% if user.profile_photo %}
                                <img  class="img-profile-pic" src="{{ user.profile_photo.url }}" alt="Profile Picture">
                                {% else %}
                                <p>No profile picture available.</p>
                                {% endif %}
                            </center>
                            <label>name</label>
                            <input class="form-control mt-2 mb-4" type="text" value="{{user.name}}" disabled>
                            <label>Email</label>
                            <input class="form-control mt-2 mb-4" type="text" value="{{user.email}}" disabled>
                            <label>Bio</label>
                              <textarea class="form-control mt-2 mb-4"  disabled>{{ user.bio }}</textarea>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
